{% extends 'base.html' %}

{% block title %}
    Index — {{ block.super }}
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger gy-5" role="alert">
            {{ form.errors }}
        </div>
    {% endif %}
    <div class="card gy-5">
        <h5 class="card-header">Download video</h5>
        <div class="card-body">
            <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Upload</button>

            </form>

        </div>
    </div>
{% endblock %}
