{% extends 'base.html' %}

{% block title %}
    List Video — {{ block.super }}
{% endblock %}

{% block content %}
    <ul class="list-group mt-5">
        {% for video in video_list %}
            <li class="list-group-item" style="background: #212529">
                {% if video.name %}
                    <a href="{% url 'detail-video' video.pk %}">{{ video.name }}</a>
                {% else %}
                    <a href="{% url 'detail-video' video.pk %}">{{ video.video.name }}</a>

                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
